@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
  }

  * {
    @apply border-neutral-200;
  }

  body {
    @apply bg-neutral-50 text-neutral-900;
  }
}
